{% extends 'food/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food App</title>
    <link rel="stylesheet" href="{% static 'food/style.css' %}">
</head>
<body>
        {% block body %}
        <center>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure, ducimus! <br>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat rem suscipit at totam quod quos maiores, modi odit, accusamus molestiae neque repellendus. Voluptate, maxime error! <br>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos reprehenderit dicta odio perferendis quas quam inventore, quae est minus voluptate? <br>
            
        </center>
        {% endblock %}
</body>
</html>