{% extends 'food/base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food App</title>
    
    
  </head>
  <body>
    {% block body %}

    {% for items in item_list %}

    <div class="row">
        <div class="col-md-3">
            <img src="{{items.item_img}}" height="250px" width="350px" />
        </div>
            <div class="col-md-7">
                <h3>{{items.item_name}}</h3>
                <h4>{{items.item_desc}}</h4>
                <h5>{{items.item_price}}₹</h5>
                <h6>Posted by: {{ items.user_name}}</h6>
              </div>
                <div class="col-md-2">
                    <a href="{% url 'food:detail' items.id %}" class="btn btn-success">Details</a>
                </div>
            
        
    

    {% endfor %}

    {% endblock %}
  </body>
</html>
